---
slug: /
layout_name: 1col
---
{% graphql response = "get_current_user_data" %}
{%- assign c_user = response.current_user -%}

{%- if c_user == blank -%}
    {%- include_form "sign_in" -%}
{%- else -%}
    <h2>Current User</h2>
    {{response}}
    <br><br>
    {%- include_form "session_destroy" -%}
    <br>
{%- endif -%}

<hr><br>
{% query_graph "get_payment_gateway", result_name: "p" %}
{{p}}
<br><hr><br>
{%- parse_json data -%}
  {
    "email": "{{ context.current_user.email }}",
    "currency": "USD",
    "description": "Charge Example",
    "statement_descriptor": "Example 1.",
    "amount": "500",
    "require_zip": true
  }
{%- endparse_json -%}

{%- parse_json config -%}
  {
    "gateway": "stripe",
    "request_type": "create_payment",
    "button": "Pay Now",
    "require_zip": "true",
    "redirect_to": "/payments"
  }
{%- endparse_json -%}
{{ config }} - config
{{ config.gateway }} - gateway

{%-
  include_form "modules/payments/gateway_request_form",
  config: config,
  data: data
%} 
{% comment %} {%- include_form "modules/charge_example/simple_payment_form" -%} {% endcomment %}

<br><br><hr><br><br>

<div class="mt-4">
  <h4>List of last five test payments:</h4>
  &lt;graphql&gt;{% query_graph "modules/payments/get_payments", per_page: 5, result_name: "g" %}&lt;graphql&gt;
  <table class="table">
    <tr>
      <th>ID</th>
      <th>State</th>
      <th>Payer</th>
      <th>Amount</th>
      <th>Actions</th>
    </tr>
    {% for payment in g.payments.results  %}
      <tr>
        <td>{{ payment.id }}</td>
        <td>{{ payment.properties.state | capitalize }}</td>
        <td>{{ payment.user.name }}</td>
        <td>{{ payment.properties.amount_cents | pricify_cents }}</td>
        <td>{% include 'modules/payments/create_refund', payment: payment %}</td>
      </tr>
    {% endfor %}
  </table>
</div>
